<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/"><ion-icon slot="icon-only" name="home"></ion-icon></ion-button>
      <ion-button *ngIf="produit" routerLink="/categorie/{{produit.categorieID}}">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <span *ngIf="produit" ngDefaultControl [(ngModel)]="title">Produit : {{produit.title}}</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="produit" routerLink="/produit-edit/{{produit._id}}"> <ion-icon slot="icon-only" name="create"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <span *ngIf="produit" ngDefaultControl [(ngModel)]="title">{{produit.description}}</span>
  </ion-item>
  <ion-item>
    <span *ngIf="produit" ngDefaultControl [(ngModel)]="title">{{produit.prix}} €</span>
  </ion-item>

  <ion-item>
    <img src="../../assets/images/produit.jpg" />
  </ion-item>

</ion-content>
